
body{
	width:100%;
	/* background-image: url("../images/burj.jpg"); */
	background-color:black;
	background-image: url("../images/piptopiabg.jpg");
	background-repeat: no-repeat;
    background-size: auto;
	background-position: center center;
	background-attachment: fixed;
}

input{
	width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

header{
	text-decoration:bold;
}

p{
	margin-top: 0px;
}

.loginContainer{
	margin-top:10vh;
	border-style: double;
	background-color:white;
	border-radius: .2em;
	width: 40vh;
	float: center;
}

.loginButton{
	display:inline-block;
	width:45%;
	padding:0.46em 1.6em;
	border:0.1em solid #000000;
	margin:0 0.2em 0.2em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	background-color: #6edb77;
	text-align:center;
	transition: all 0.15s;
}
.loginButton:hover{
	text-shadow: 0 0 2em rgba(255,255,255,1);
	color:#FFFFFF;
	border-color:#2d4534;
}
.signUpButton{
	display:inline-block;
	width:45%;
	padding:0.46em 1.6em;
	border:0.1em solid #000000;
	margin:0 0.2em 0.2em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	background-color: #e8909f;
	text-align:center;
	transition: all 0.15s;
}
.signUpButton:hover{
	text-shadow: 0 0 2em rgba(255,255,255,1);
	color:#FFFFFF;
	border-color:#2d4534;
}



.username{
}

.password{ 

}